.main-container {font-family: 'Roboto', sans-serif; color: #555;}
.btn-indigo:focus { box-shadow: 0 0 0 0.2rem   rgba(178, 183, 255, .5) ;}
.card { border-radius: 0 }

/*
 * SweetAlert2
 */
.swal2-popup {border-radius: 0!important;}
button.swal2-confirm, button.swal2-cancel {border-radius: 0!important;}
button.swal2-cancel {background: #EF5753 !important; border-radius: 0!important;}
button.swal2-confirm {background: #9CCC65 !important; border-radius: 0!important;}
.swal2-icon.swal2-warning {color:#EF5753 !important; border: 1px solid #EF5753 !important; }
/*.swal2-modal .swal2-styled:focus { // removes outilne from butons!
    -webkit-box-shadow: none;
    box-shadow: none;
}*/
